header nav{
    background-color: #f4f4f4;
}
header ul li button{
    font-size: 15px;
}
header ul li span:hover{
    color: midnightblue;
}

header .icons-list i{
    font-size: 30px;
    color: #727070;
    margin-top: 10px;
}
header .icons-list i:hover{
    color: midnightblue;
}

header .icons-list div{
    font-size: 13px;
    width: 80%;
}

section .search-div {
    border-radius: 50px;
    margin-right: 160px;
    background-color: midnightblue;
}
section .search i{
    font-size: 20px;
}
section .search{
    border-radius: 40px;
    width:858px;
}
.product{
    margin-top: 55px;
}
.buy{
    display:none;
}
.product :hover{
    
}

